* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body {
    height: 100%;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(gall/avatar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(15px);
    transform: scale(1.05); 
} 


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative; /* Необходимо для псевдоэлемента */
    background-color: rgb(3, 18, 8);
    font-size: 18px;
} 

.background-image {
    position: fixed
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    height: 60px;
    background-color: rgb(15, 21, 60);
    position: relative;
    z-index: 1000;
    top: 0;
    left: 0;
    
    box-shadow: 0 2px 5px black;
    
}

.logo {
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: rgb(183, 184, 193);

} 

.logo a {
    
    text-decoration: none;
    padding: 6px 12px;
    background-color: rgb(15, 21, 60);
    border-radius: 5%;
    transition: 1s;
    }

.logo a:hover {
    color: white;    
    background-color: rgb(26, 36, 102);
    border-radius: 20%;
    transition: 1s;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Блоки 1 */
.b1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.simple-ticker {
    width: 100%;
    overflow: hidden;
    background: rgb(183, 184, 193);
    padding: 8px 0;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgb(15, 21, 60);
    box-shadow: 1px 1px 10px 10px rgb(15, 21, 60);
}

.ticker-text {
    display: inline-block;
    padding-left: 100%;
    white-space: nowrap;
    animation: simple-scroll 20s linear infinite;
    font-size: 18px;
}

@keyframes simple-scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

/* Блоки 2 */

.b2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 35%;
     border: 1px solid rgb(15, 21, 60);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 10px rgb(15, 21, 60);
    margin: 20px auto;
}

.btnTurn {
    width: 150px;
    height: 50px;
    color: rgb(15, 21, 60);
    border: none;
    border-radius: 50px;
    font-size: 16px;
    margin-bottom: 20px;
    transition: 1s;
}

.btnTurn:hover {
    transform: scale(1.05);
    background-color: rgb(183, 184, 193);
    box-shadow: 1px 1px 22px 19px rgb(15, 21, 60);
    color:black ;
    transition: 1s;
}

.doc {
    display: none;
    border: 2px solid var(--dark-red-color);
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    width: 70%;
}

.document {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doc img {
    width: 300px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.doc.active {
    display: block;
    margin: 20px auto;
}

.block3 {
    text-align: center; 
}

.block3 h2 {
    margin: 20px 0; 
}

.b3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%; 
    border: 1px solid rgb(15, 21, 60);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 10px rgb(15, 21, 60);
    margin: 20px auto;
    padding: 10px;
   
}

.photo-gal {
    border-radius: 5%;
    height: 150px;
    display: block;
    margin-bottom: 50px auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.photo-gal:hover {
    transform: scale(3); 
    box-shadow: 0 20px 30px black;
    transition: 1s;
    z-index: 1000;

}

.footer {
    text-align: center;
    background-color:rgb(15, 21, 60);
    padding: 15px 5px 15px 5px;
    font-size: 14px;
    color: rgb(183, 184, 193);
    height: 10%;

}

@media (min-width: 100px) and (max-width:500px) {
    .header {
        flex-direction: column;
        height: 80px;
    }

    .avatar {
        width: 25px;
        height: 25px;
    
    }
    .logo {
        font-size: 16px;
    } 
    .b1 h2{
        font-size: 18px;
    }

    .b2 {
        width: 80%;
    }

    .b3 {
        flex-direction: column;
        width: 75%;
    }
}
