* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body {
    height: 100%;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(gall/avatar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(15px);
    transform: scale(1.05); 
} 


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative; 
    background-color: rgb(3, 18, 8);
    font-size: 18px;
} 

.background-image {
    position: fixed
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    height: 60px;
    background-color: rgb(15, 21, 60);
    position: relative;
    z-index: 1000;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px black;
}

.logo {
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: rgb(183, 184, 193);
} 

.logo a {
    text-decoration: none;
    padding: 6px 12px;
    background-color: rgb(15, 21, 60);
    border-radius: 5%;
    transition: 1s;
    }

.logo a:hover {
    color: white;    
    background-color: rgb(26, 36, 102);
    border-radius: 20%;
    transition: 5s;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.block1 {
    padding: 20px 15px;
    margin:  10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.invite2 a{
    text-decoration: none;
    padding: 6px 12px;
    background-color: rgb(206, 200, 222);
    color: black;
    border-radius: 5%;
    transition: 1s;
}

.invite2 a:hover{
    padding: 6px 12px;
    background-color: rgb(55, 53, 87);
    color: rgb(19, 17, 52);
    border-radius: 5%;
    transition: 1s;
}

.left {
    margin-right: 60px;
    justify-content: center;
}

.right {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.foto1 {
    border-radius: 10%;
    height: 400px;
    margin-left: 20px;
    box-shadow: 1px 1px 10px 10px rgb(15, 21, 60);
}

.block2 {
    margin: 10px;
    padding: 60px 15px;
}

.invite {
    color:black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.item {
    padding: 8px 12px;
    background: #d4d4d9;
    background: linear-gradient(90deg,rgba(212, 212, 217, 1) 0%, rgba(34, 34, 92, 1) 58%, rgba(1, 6, 20, 1) 100%);
    margin: 10px;
    color: #031302;
    font-weight: 800;
}

.block3 {
    padding: 20px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.photo-gal {
    border-radius: 5%;
    height: 150px;
    display: block;
    margin-bottom: 50px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.photo-gal:hover {
    transform: scale(1.5); 
    box-shadow: 0 20px 30px black;
    transition: 1s;
    z-index: 1000;
}

.footer {
    text-align: center;
    background-color:rgb(15, 21, 60);
    padding: 15px 5px 15px 5px;
    font-size: 14px;
    color: rgb(183, 184, 193);
    height: 10%;
}

@media (min-width: 100px) and (max-width:500px) {
    .header {
        flex-direction: column;
        height: 80px;
    }
    .avatar {
        width: 25px;
        height: 25px;
    
    }
    .logo {
        font-size: 16px;
    } 

    .block1 {
        flex-direction: column;
    }
    
    .block1 h2{
        font-size: 20px;
    }

    .b2 {
        width: 80%;
    }

    .block3 {
        flex-direction: column;
        width: 75%;
        max-width: 150px; 
        margin: 0 auto; 
    }
}