* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body {
    height: 100%;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(gall/avatar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(15px);
    transform: scale(1.05); 
} 

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative; /* Необходимо для псевдоэлемента */
    background-color: rgb(3, 18, 8);
    font-size: 18px;
} 

.background-image {
    position: fixed
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    height: 60px;
    background-color: rgb(15, 21, 60);
    position: relative;
    z-index: 1000;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px black;
}

.logo {
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: rgb(183, 184, 193);

} 

.logo a {
    
    text-decoration: none;
    padding: 6px 12px;
    background-color: rgb(15, 21, 60);
    border-radius: 5%;
    transition: 1s;
    }

.logo a:hover {
    color: white;    
    background-color: rgb(26, 36, 102);
    border-radius: 20%;
    transition: 1s;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.block1 {
    padding: 20px 15px;
    margin:  10px 0px 10px 0px;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.invite2 a{
   text-decoration: none;
    padding: 6px 12px;
    background-color: rgb(206, 200, 222);
    color: black;
    border-radius: 5%;
    transition: 1s;
}

.invite2 a:hover{
    padding: 6px 12px;
    background-color: rgb(55, 53, 87);
    color: rgb(19, 17, 52);
    border-radius: 5%;
    transition: 1s;
}

.left {
    margin-right: 60px;
    justify-content: center;
}

.right {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.but {
    width: 150px;
    height: 50px;
    color: rgb(15, 21, 60);
    border: none;
    border-radius: 50px;
    font-size: 16px;
    margin-bottom: 20px;
    transition: 1s;
}

.but:hover {
    transform: scale(1.05);
    background-color: rgb(183, 184, 193);
    box-shadow: 1px 1px 22px 19px rgb(15, 21, 60);
    color:black ;
    transition: 1s;
}

.foto1 {
    border-radius: 10%;
    height: 400px;
    margin-left: 20px;
    box-shadow: 1px 1px 10px 10px rgb(15, 21, 60);
}

#info {
    width: 70%;
    display: block;
    margin: 20px auto;
    justify-content: center;
}

#info h2{
    max-width: 20px 0;
    text-align: center;
    margin: 20px auto;
}

.radio-group {
    margin-bottom: 0px;
}

.group-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 1.1em;
}

.radio {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: flex-end; 
    align-items: center;
    margin-bottom: 0px;
    padding: 8px 0;
}

.radio input[type="radio"] {
    margin-right: 30px; 
}

.comment {
    margin-top: 20px;
}


.start {
    display: flex;
    flex-wrap: wrap; 
    gap: 15px; 
    margin-top: 50px;
}

.start .name {
    padding: 7px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.form {
    background-color:  rgb(183, 184, 193);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgb(15, 21, 60);
    box-shadow: 1px 1px 10px 10px rgb(15, 21, 60);
    color: black;
    font-size: 16px;
    height: 350px;
    display: grid;
    grid-template-rows: 20px 10px 10px 10px 60px 10px;
    gap: 60px;
}

.footer {
    text-align: center;
    justify-content: center;
    background-color:rgb(15, 21, 60);
    padding: 15px 5px 15px 5px;
    font-size: 14px;
    color: rgb(183, 184, 193);
    height: 10%;
}

@media (min-width: 100px) and (max-width:500px) {
    .header {
        flex-direction: column;
        height: 80px;
    }

    .avatar {
        width: 25px;
        height: 25px;
    
    }
    .logo {
        font-size: 16px;
    } 
    .block1 {
        flex-direction: column;
    }

    .foto1 {
        height: 300px;
    }

    .right {
        margin: 20px auto;
    }

    .comment textarea {
        width: 100%;
        max-width: 500px;
    }

    .start {
        flex-direction: row;
        gap: 10px; 
        justify-content: center;
    }
    
    .start .name {
        padding: 5px 10px; 
        font-size: 12px; 
        flex: 1; 
        min-width: 140px; 
        text-align: center;
    }

}